<div class="contenedor-flex">
  <div class="div-centrado">
    <h3 class="text-welcome">
      Welcome
    </h3>
  </div>
</div>
<div class="div-inferior">
  <ion-button expand="block"
              mode="ios"
              class="btn-block mb-15 fw-7"
              [routerLink]="['/register']">
    Registrarse
  </ion-button>
  <ion-button expand="block"
              mode="ios"
              class="btn-block fw-7"
              color="secondary"
              [routerLink]="['/list']">
    Usuarios registrados
  </ion-button>
</div>
